<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hora de Lecturas</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/config.css">
		<link rel="stylesheet" type="text/css" href="../css/libros.css">
		<link rel="stylesheet" type="text/css" href="../css/sugaleatoria.css">
		<link rel="stylesheet" type="text/css" href="../css/eventos.css">
		
		<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script defer type="text/javascript" src="../js/sugaleatoria.js"></script>
	</head>
	<body class = "segundoFondo">
		<header class="title">
			<nav class="navbar cf">
				<ul class="navlist">
					<li class="navpage">
						<a href="/libros">Inicio</a>
					</li>
					<li class="navpage">
						<a href="/generos">Géneros</a>
						<ul>
							<li class="nav"><a href="/generos#terror">Terror</a></li>			
							<li class="nav"><a href="/generos#suspense">Suspense</a></li>
							<li class="nav"><a href="/generos#adventures">Aventuras</a></li>

						</ul>
					</li>
					<li class="navpage">
						<a href="/eventos">Eventos</a>
					</li>
					<li class="navpage">
						<a href="/libroviajero">El libro viajero</a>
					</li>
					<li class="navpage">
						<a href="/foro">Foro</a>
					</li>
					<li class="navpage">
						<a href="/anoveles">Autores noveles</a>
					</li>
					<li class="navpage">
						<a href="/sugaleatoria">Sugerencia aleatoria</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class = "main">
			
			<aside class="leftaside">
			<ul>
				<p class = "publiTitle">Librerias especializadas</p>
				<li>		
					<a href="http://www.casadellibro.com"><%= image_tag 'casalibro.gif' %>
					</a>
				</li>	
				
				<li >
					<a href="http://www.bookcenter.es/"><%= image_tag 'bookCenter.jpg' %></a>
				</li>	
			
				<li >
					<a href="http://www.fnac.es"><%= image_tag 'fnac.jpg' %></a>
				</li>	
			
				
				<li >
					<a href="http://www.pageonegroup.com/"><%= image_tag 'pageOne.jpg' %></a>
				</li>
			</ul>
	
			<ul>
				<p class = "publiTitle">Editoriales</p>
				<li>		
					<a href="http://www.akal.com/"><%= image_tag 'akal.jpg' %>
					</a>
				</li>	
				
				<li >
					<a href="http://www.salamandra.info/"><%= image_tag 'salamandra.png' %></a>
				</li>	
			
				<li >
					<a href="http://www.anaya.es"><%= image_tag "anaya.jpg" %></a>
				</li>	
			
				
				<li >
					<a href="http://www.gigamesh.com"><%= image_tag "gigamesh.jpg" %></a>
				</li>
			</ul>
		</aside>
			<section class="randomsec">
				<div class = "instrucciones">
					<p class = "text">En este apartado podrás obtener el nombre de un libro recomendado por nosotros.
					  Cada vez que refresques el navegador te aparecerá una nueva sugerencia.
					  Te proponemos un libro de todos los que hay en nuestra base de datos.
					  ¡¡Atrevete y disfruta de la aventura que supone leer un libro de forma inesperada!!</p>
				</div>
				<article id = "apocalipsisZ" class="dimart">
						<h2 class = "booktitle">Apocalipsis Z</h2>
						<img class = "imgs" src="../imagenes/apocalipsis.jpg">
						<p class="abstract">¿Qué sucedería si un día al levantarse descubriese que la civilización se está cayendo en pedazos? Eso es lo que le sucede al protagonista de Apocalipsis Z, un joven abogado que lleva una vida tranquila y rutinaria en una pequeña ciudad española de provincias, hasta que un oscuro incidente médico en un remoto país del Caucaso tiene lugar. Paulatinamente lo que tan solo era una pequeña noticia breve en los periódicos se transforma en una epidemia de proporciones devastadoras que amenaza con aniquilar a toda la humanidad. A medida que la enfermedad se acerca devorando país tras país, el caos comienza a cundir en España.
						</p>
						<ul class="infolist">Ficha técnica
							<li>Título: Apocalipsis Z</li>
							<li>Autor: Manel Loureiro</li>
							<li>Editorial: Dolmen</li>
							<li>Año de edición: 2007</li>
						</ul>
				</article>
				<article id = "it" class = "dimart">
						<h2 class = "booktitle">It</h2>
						<img class = "imgs" src="../imagenes/it.jpg">
						<p class = "abstract">La historia se presenta alternada en dos épocas: el pasado (1957-58) y el presente (1985). Los hechos acontecen en la comunidad de Derry, en el estado de Maine, Estados Unidos. Bajo la ciudad, un monstruo despiadado de apetito insaciable atormenta a la comunidad desde tiempos remotos. Este monstruo es un ser de otro mundo, capaz de leer las mentes y provocar los miedos, los cuales constituyen su alimento (preferiblemente los de los niños, cuyos miedos son muy sencillos de elaborar). Su disfraz más común es el de un payaso Pennywise, con el que atrae a sus jóvenes víctimas, a las cuales aterrará hasta la muerte,a los adultos los atrae con lo que desean.</p>
						<ul class = "infolist">
							<li>Titulo: It (Eso)</li>
							<li>Autor: Stephen King</li>
							<li>Editorial: DeBols!llo</li>
							<li>Año de edición: 2010</li>
						</ul>
				</article>
				<article id = "resplandor" class="dimart">
						<h2 class="booktitle">El Resplandor</h2>
						<img class = "imgs" src="../imagenes/elResplandor.jpg">
						<p class="abstract">El libro trata de una familia con muchos problemas, tanto económicos como personales, y, debido a esto, Jack Torrance (el protagonista) se ve obligado a aceptar un empleo como cuidador de un hotel durante el invierno junto a su familia. El pueblo más cercano es Sidewinder, y está situado aproximadamente a 65 kilómetros del hotel. Los caminos son intransitables por el invierno, por lo que el lugar está prácticamente aislado del mundo, sobre todo cuando las tormentas se hacen fuertes. Aún así Jack se ve obligado a aceptar el trabajo, sin imaginar los terribles acontecimientos que se suscitaron en aquel hotel en el pasado. </p>
						<ul class = "infolist">
							<li>Titulo: El Resplandor</li>
							<li>Autor: Stephen King</li>
							<li>Editorial: DeBols!llo</li>
							<li>Año de edición: 1977</li>
						</ul>
				</article>
				<article id = "cuentos" class="dimart">
						<h2 class="booktitle">Cuentos Completos</h2>
						<img class = "imgs" src="../imagenes/allanPoe.jpg">
						<p class="abstract">Un libro que recopila la vasta colección de cuentos escritos por este famoso autor, Edgard Allan Poe.
						Cada uno de los cuentos de Poe viene comentado por un escritor español o latinoamericano vivo, nacido en la generación de los sesenta. La contribución más importante de Poe a la historia de la literatura la constituyen los relatos cortos de todo género. Es de destacar en los mismos su factura equilibrada y el elevado nivel artístico. Poe era maestro absoluto en el campo del misterio, así como en la recreación de atmósferas preñadas de efluvios malsanos y fantasmales, mientras que, en el terreno técnico, su dominio del tempo o ritmo narrativo no tenía igual.</p>
						<ul class = "infolist">
							<li>Titulo: Cuentos completos</li>
							<li>Autor: Edgar Allan Poe</li>
							<li>Editorial: Edhasa</li>
							<li>Año de edición: 1995</li>
						</ul>
				</article>
				<article id = "ripper" class="dimart">
						<h2 class="booktitle">El juego de Ripper</h2>
						<img class = "imgs" src="../imagenes/ripper.jpg">
						<p class="abstract">La última novela de Isabel Allende se llama “El juego de ripper”. El título viene por un juego de rol que se llama “ripper” y que está basado en Jack el Destripador (Jack the Ripper) que asesinó mujeres en 1880 en Londres. En este caso, la acción ocurre en San Francisco, año 2012, por tanto contemporánea. Un grupo de adolescentes juegan al ripper por internet desde distintas partes del mundo, y paralelamente comienzan a suceder una serie de crímenes que parecen estar desconectados. Una de las chicas que juega al ripper es hija de un inspector que investiga los crímenes que acontecen, y decide usar el juego para analizar estos sucesos misteriosos.</p>
						<ul class = "infolist">
							<li>Título: El juego de ripper</li>
							<li>Autor: Isabel Allende</li>
							<li>Editorial: Plaza & Janés</li>
							<li>Año de edición: 2014</li>
						</ul>
				</article>
				<article id = "testigo" class="dimart">
						<h2 class="booktitle">Testigo a cargo</h2>
						<img class = "imgs" src="../imagenes/testigo.jpg">
						<p class="abstract">Este libro está formado por una colección de relatos cortos caracterizados por girar entorno a la "locura" o "demencia" (quizás a excepción del primero, que da titulo al libro), ya que en todos se trata de una manera u otra lo que es capaz de realizar el subconsciente, y en algunas ocasiones no tan subconsciente, de una persona. Me explico, en un relato pueden tratar sobre la demencia de una persona, en otro sobre la hipotesis de las múltiples personalidades, en la capacidad de escuchar cosas que las demás no pueden, entre otros ejemplos; lo más bueno de todo es que en algunos casos la explicación de la demencia no es tan clara y más de una vez te llevas una sorpresa al final del relato.</p>
						<ul class = "infolist">
							<li>Titulo: Testigo a cargo</li>
							<li>Autor: Agatha Christie</li>
							<li>Editorial: Molino	</li>
							<li>Año de edición: 1998</li>
						</ul>
				</article>
				<article id = "ocho" class="dimart">
						<h2 class="booktitle">El Ocho</h2>
						<img class = "imgs" src="../imagenes/elocho.jpg">
						<p class="abstract">Nueva York, 1972. Catherine Velis, aficionada a las matemáticas y al ajedrez, trabaja en una auditoría como experta en informática. La firma la destina a Argelia, pero, antes de partir, una vidente le lee las líneas de la mano y le advierte de que un grave peligro se cierne sobre ella. Poco después, un marchante de antigüedades hace a Cat una misteriosa oferta. 
						Sur de Francia, 1790. Mireille de Rémy y su prima Valentine son dos novicias de la abadía de Montglane. Francia arde en las llamas de la revolución que, entre otros proyectos, pretende aniquilar a la Iglesia y hacerse con sus tesoros.</p>
						<ul class = "infolist">
							<li>Titulo: El ocho</li>
							<li>Autor: Katherine Neville</li>
							<li>Editorial: Debolsillo	</li>
							<li>Año de edición: 2006</li>
						</ul>
				</article>
				<article id = "daVinci" class="dimart">
						<h2 class="booktitle">El Código Da Vinci</h2>
						<img class = "imgs" src="../imagenes/daVinci.jpg">
						<p class="abstract">
							Robert Langdon, experto en simbología, recibe una llamada en mitad de la noche: el conservador del museo del Louvre ha sido asesinado en extrañas circunstancias, y junto a su cadáver ha aparecido un desconcertante mensaje cifrado. Al profundizar en la investigación, Langdom descubre que las pistas conducen a las obras de Leonardo Da Vinci… y que están a la vista de todos, ocultas por el ingenio del pintor. Langdon une esfuerzos con la criptóloga francesa Sophie Neveu y descubre que el conservador del museo pertenecía al Priorato de Sión, una sociedad que a lo largo de los siglos ha contado con miembros tan destacados como Sir Isaac Newton, Botticelli, Victor Hugo o el propio Da Vinci, y que ha velado por mantener en secreto una sorprendente verdad histórica.
						</p>
						<ul class = "infolist">
							<li>Titulo: El Código Da Vinci</li>
							<li>Autor: Dan Brown</li>
							<li>Editorial: Planeta</li>
							<li>Año de edición: 2008</li>
						</ul>
				</article>
				<article id = "hobbit" class="dimart">
						<h2 class="booktitle">El Hobbit</h2>
						<img class = "imgs" src="../imagenes/hobbit.jpg">
						<p class="abstract">Cuando alrededor de 1930, J.R.R. Tolkien comenzó a escribir El Hobbit, hacía ya diez años que trabajaba en el vasto panorama mitológico de El Libro de los Relatos, que más tarde se llamaría El Silmarillion. Así como esas crónicas tempranas narraban los mitos inmemoriales de la Primera y Segunda Edad, Tolkien pronto advirtió que El Hobbit iba ordenándose de algún modo como un relato de la Tercera Edad (Gandalf habla del Nigromante en las primeras páginas), aunque las inesperadas aventuras de un pacífico hombre del campo no parecieran tener mucha relación con las vastas y oscuras mitologías de la Tierra Media. </p>
						<ul class = "infolist">
							<li>Título: El hobbit</li>
							<li>Autor: J. R. R. Tolkien</li>
							<li>Editorial: Debolsillo</li>
							<li>Año de edición: 2000</li>
						</ul>
				</article>
				<article id = "mago" class="dimart">
						<h2 class="booktitle">El Mago de Oz</h2>
						<img class = "imgs" src="../imagenes/magooz.jpg">
						<p class="abstract">El maravilloso Mago de Oz narra las aventuras que vive la pequeña Dorothy en el país de Oz, al cual se ve arrastrada por un fuerte tornado desde Kansas, la región de la que procede. Con ayuda de los amigos que irá haciendo por el camino (el Espantapájaros, el Hombre de Hojalata y el León Cobarde), Dorothy emprenderá un viaje cargado de contratiempos hacia Ciudad Esmeralda, para pedir al poderoso Mago de Oz que la devuelva a su hogar.</p>
						<ul class = "infolist">
							<li>Titulo: El mago de oz</li>
							<li>Autor: L. Frank Baum</li>
							<li>Editorial: Anaya	</li>
							<li>Año de edición: 1985</li>
						</ul>
				</article>
				<article id = "hechicero" class="dimart">
						<h2 class="booktitle">El Hechicero</h2>
						<img class = "imgs" src="../imagenes/elhechicero.jpg">
						<p class="abstract">Después de la muerte de la reina Lostris, Taita sigue todos los rituales del embalsamamiento y entierro de su amada.
						Devastado por el dolor, se retira a los desiertos del norte, donde se convierte en ermitaño.
						Con el paso de los años, se dedica al estudio de lo oculto, la magia y lo sobrenatural. Armado de extraordinarios poderes, se transformará en Hechicero.
						Taita sólo regresó al mundo de los hombres cuando su reina Lostris lo visitó en un sueño, mientras dormí­a en su cueva de ermitaño en Gebel Nagara.
						Ha llegado la hora de contestar la llamada del más allá. Y se sumerge en un terrible conflicto contra las fuerzas que tratan de quebrantar la paz de Egipto y destruir al joven divino detrás de su sufrimiento y de su duelo: salvar la dinastía de Lostris.</p>
						<ul class = "infolist">
							<li>Título: El hechicero</li>
							<li>Autor: Wilbur Smith</li>
							<li>Editorial: Debolsillo</li>
							<li>Año de edición: 2010</li>
						</ul>
				</article>
				<article id = "moby" class="dimart">
						<h2 class="booktitle">Moby Dick</h2>
						<img class = "imgs" src="../imagenes/mobydick.jpg">
						<p class="abstract">El amplio mar, la constante contemplación del horizonte en busca de la presa, la abigarrada tripulación del Pequod, ballenero comandado por un capitán tullido y obsesionado por su venganza... Surgiendo de la profundidad de las aguas, como un espectro, la encarnación del Mal: Moby Dick, la ballena blanca...
						Herman Melville (1819-1891) creó la fábula de la ballena blanca hace un siglo y medio. Demonio del mar o símbolo de la belleza, Moby Dick es el personaje principal de una historia fascinante de aventuras, en las que se mezclan el bien y el mal.
						Moby Dick, la novela que William Faulkner hubiera querido escribir, ha alcanzado el reconocimiento y el elogio constante que merece una construcción narrativa impecable. La lucha del capitán Ahab, su terrible obsesión y la mítica persecución de la enorme ballena han traspasado fronteras, consiguiendo así la indiscutible categoría de obra maestra de la literatura universal.</p>
						<ul class = "infolist">
							<li>Titulo: Moby dick</li>
							<li>Autor: Herman Melville</li>
							<li>Editorial: Debolsillo	</li>
							<li>Año de edición: 1992</li>
						</ul>
				</article>	
			</section>	

			<aside class="rightaside">
				<div>
					<ul id="listalibros">
					</ul>
					<input id="entradalibros" class="inputlibros" type="text" value="">
				</div>
			</aside>		
		</div>
				
		<footer class="foot cf">
			<%= image_tag "logo_fb.png", class: "logoFooter" %>
			<%= image_tag "twitter.png", class: "logoFooter" %>
			<%= image_tag "pinterest.png", class: "logoFooter" %>
			<ul class="footlist">
				<li class="footlink">Política de privacidad</li>
				<li class="footlink">Quiénes somos</li>
				<li class="footlink">Contáctanos</li>
				<li class="footlink">Trabaja con nosotros</li>
			</ul>
		</footer>
	</body>
</html>